<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Palace Csocso Tracker</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
	<style>
		.tets * {
			outline: 1px solid red;
		}

		.display {
			height: 10.5em;
			border-radius: 16px;
		}

		.extra {
			top: .8em
		}

		.stats {
			--bs-offcanvas-width: 85%;
		}

		.context {
			height: 80vh;
			width: 100%;
		}

		h1 {
			font-size: 5em;
		}

		.player {
			max-height: 60vh;
			overflow-y: scroll;
		}

		.table {
			max-height: 50%;
		}

		.form-switch {
			align-content: center;
		}

		.orbitron-timer {
			font-family: "Orbitron", serif;
			font-optical-sizing: auto;
			font-weight: 600;
			font-style: normal;
		}	
	</style>
</head>

<body>
	<div id="app" class="container text-center user-select-none">
		<div class="modal fade" id="pauseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="pauseModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="toggleStatus('play')">
							<icon-selector :selector="'play'"></icon-selector>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="offcanvas offcanvas-end text-bg-dark" data-bs-backdrop="static" tabindex="-1" id="newPlayerBackdrop"
			aria-labelledby="newPlayerBackdropLabel">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="newPlayerBackdropLabel">Add New Player</h5>
				<button type="button" class="btn-close bg-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<div class="container">
					<div class="form-group row">
						<input type="text" id="new-nickname" class="form-control col" :value="newNickname"
							placeholder="Enter a new nickname" @input="addNewNickname" @keyup.enter="addNickname">
						<button class="btn btn-outline-success col-2" @click="addNickname" title="add">
							<icon-selector :selector="'plus'"></icon-selector>
						</button>
					</div>
					<div class="mt-3">
						<ul class="list-group player">
							<li v-for="player in nicknames" class="list-group-item">
								<div class="row">
									<div class="col">{{ player.name }}</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="offcanvas offcanvas-end text-bg-dark stats" data-bs-backdrop="static" tabindex="-1"
			id="gamesStatsBackdrop" aria-labelledby="gamesStatsBackdropLabel">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="gamesStatsBackdropLabel"></h5>
				<button type="button" class="btn-close bg-white" data-bs-dismiss="offcanvas" aria-label="Close"
					@click="toggelSelected()"></button>
			</div>
			<div class="offcanvas-body">
				<div class="container">
					<table class="table bg-white" id="gameTable">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col" class="text-danger">RF</th>
								<th scope="col" class="text-danger">RB</th>
								<th scope="col" class="text-danger">RS</th>
								<th scope="col" class="text-danger">Meta</th>
								<th scope="col" class="text-primary">BS</th>
								<th scope="col" class="text-primary">BF</th>
								<th scope="col" class="text-primary">BB</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(game, index) in games" id="{{game.meta[0].uid}}">
								<th scope="row" @click="toggelSelected({id: game.meta[0].uid, type: 'game'})">
									<button class="btn btn--secondary col" data-bs-toggle="offcanvas"
										data-bs-target="#configurationBackdrop" aria-controls="configurationBackdrop">
										{{ index + 1 }}
									</button>
								</th>
								<td>{{ playerById(game.red.front) }}</td>
								<td>{{ playerById(game.red.back) }}</td>
								<td>{{ game.red.score }}</td>
								<td>
									<ul class="list-group list-group-horizontal justify-content-md-center">
										<li v-for="meta in defaultChanges" class="list-group-item">
											<icon-selector :selector="meta.changed" :size="16" :color="meta.side"></icon-selector>
											<span class="badge bg-secondary">
												{{ getMetaCount(game, meta) }}
											</span>
										</li>
									</ul>
								</td>
								<td>{{ game.blue.score }}</td>
								<td>{{ playerById(game.blue.front) }}</td>
								<td>{{ playerById(game.blue.back) }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="offcanvas offcanvas-end text-bg-dark stats" data-bs-backdrop="static" tabindex="-1"
			id="playersStatsBackdrop" aria-labelledby="playersStatsBackdropLabel">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="playersStatsBackdropLabel"></h5>
				<button type="button" class="btn-close bg-white" data-bs-dismiss="offcanvas" aria-label="Close"
					@click="toggelSelected()"></button>
			</div>
			<div class="offcanvas-body">
				<div class="container">
					<table class="table bg-white" id="playerTable">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Name</th>
								<th scope="col">Goals</th>
								<th scope="col">Edit</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(player, index) in nicknames" :key="player.id">
								<th scope="row" @click="toggelSelected({id: player.name, type: 'player'})">
									<button class="btn btn--secondary col" data-bs-toggle="offcanvas"
										data-bs-target="#configurationBackdrop" aria-controls="configurationBackdrop">
										{{ index + 1 }}
									</button>
								</th>
								<td>
									<input v-if="_.isEqual(updateId?.uid, player.uid)" type="text" id="update-nickname"
										:value="updateId.name" placeholder="Update nickname" @keyup.enter="updatePlayerName"
										class="form-control col-md-1" @input="updateName">
									<h5 v-else>{{ player.name }}</h5>
								</td>
								<td>{{ goalCounter(player.uid) }}</td>
								<td @click="updatePlayer(player)">
									<icon-selector :selector="'edit'"></icon-selector>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="offcanvas offcanvas-start text-bg-dark stats" data-bs-backdrop="static" tabindex="-1"
			id="configurationBackdrop" aria-labelledby="gameBackdropLabel">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="gameBackdropLabel"></h5>
				<button type="button" class="btn-close bg-white" data-bs-dismiss="offcanvas" aria-label="Close"
					@click="toggelSelected()"></button>
			</div>
			<div class="offcanvas-body">
				<div class="container">
					<div v-if="_.isEqual(selected.type, 'game')">
						Game: {{ selected.id }}
						<ul class="list-group">
							<li v-for="meta in selected.data.meta" class="list-group-item">
								<div v-if="meta.uid">
									<h3>Start</h3>
								</div>
								<div v-else>
									<div v-if="_.has(meta, 'changed')">
										<h3>Changed:
											<icon-selector :selector="meta.changed" :size="32" :color="meta.side"></icon-selector>
										</h3>
									</div>
									<div v-else>
										<h3>Goal: {{ playerById(meta.player) }} {{ meta.position }} {{ meta.side }}</h3>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div v-else-if="_.isEqual(selected.type, 'player')">
						Player: {{ selected.id }} {{ selected.data }}
					</div>
					<div v-else>
						<div class="bg-white row col-md-4">
							<div class="mb-2 input-group">
								<span class="input-group-text col-md-6" id="addon-tide-brake">1v1:</span>
								<div class="form-switch">
									<input type="checkbox" class="form-check-input" id="singlePlayer" :checked="settings.is1v1"
										placeholder="" aria-label="singlePlayer" @click="toggleSimplePlayer">
								</div>
							</div>
							<div class="mb-2 input-group">
								<span class="input-group-text col-md-6" id="addon-max-score">Max Score:</span>
								<input type="number" class="form-control" id="maxScoreCount" aria-describedby="maxScore"
									:value="settings.maxScore" @input="incrementScore" placeholder="0">
							</div>
							<div class="mb-2 input-group">
								<span class="input-group-text col-md-6" id="addon-tide-brake">Tie Break:</span>
								<div class="form-switch">
									<input type="checkbox" class="form-check-input" id="tieBreak" :checked="settings.tieBreak"
										placeholder="" aria-label="tieBreak" @click="toggletieBreak">
								</div>
							</div>
							<div v-if="settings.tieBreak" class="mb-2 input-group">
								<span class="input-group-text col-md-6" id="addon-tide-brake-span">TB Difference:</span>
								<input type="number" class="form-control" id="tieBreakSpan" aria-describedby="tieBreakSpan"
									:value="settings.tieBreakSpan" placeholder="2" @input="incrementtieBreakSpan">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="context row align-items-center flex-nowrap">
			<div class="col-md-3">
				<div v-if="settings.is1v1" class="row">
					<div class="card text-danger">
						<div v-if="isGameRunning" class="card-body" @click="increment('front', 'red')">
							<h3>{{ playerById(game.red.front) }}</h3>
						</div>
						<div v-else class="card-body">
							<label for="redFront">Red</label>
							<select class="form-control" id="redFront" v-model="game.red.front">
								<option v-for="player in _.filter([game.red.front, ...suitablePlayers])" :key="player" :value="player">
									{{ playerById(player) }}
								</option>
							</select>
						</div>
					</div>
				</div>
				<div v-else class="row">
					<div class="card text-danger">
						<div v-if="isGameRunning" class="card-body" @click="increment('front', 'red')">
							<h3>{{ playerById(game.red.front) }}</h3>
						</div>
						<div v-else class="card-body">
							<label for="redFront">Front</label>
							<select class="form-control" id="redFront" v-model="game.red.front">
								<option v-for="player in _.filter([game.red.front, ...suitablePlayers])" :key="player" :value="player">
									{{ playerById(player) }}
								</option>
							</select>
						</div>
					</div>
					<div @click="switchSides('red')" v-if="isGameRunning">
						<icon-selector :selector="'position'" :size="32"></icon-selector>
					</div>
					<div class="card text-danger">
						<div v-if="isGameRunning" class="card-body" @click="increment('back', 'red')">
							<h3>{{ playerById(game.red.back) }}</h3>
						</div>
						<div v-else class="card-body">
							<label for="redBack">Back</label>
							<select class="form-control" id="redBack" v-model="game.red.back">
								<option v-for="player in _.filter([game.red.back, ...suitablePlayers])" :key="player" :value="player">
									{{ playerById(player) }}
								</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="row col">
				<div v-if="isGameRunning" @click="switchSides()">
					<icon-selector :selector="'side'" :size="32"></icon-selector>
				</div>
				<div class="col-md bg-danger display" v-if="isGameRunning">
					<div class="card extra">
						<div class="card-body align-conten-md-center">
							<h1>{{ game.red.score }}</h1>
						</div>
					</div>
				</div>
				<div class="col-md bg-primary display" v-if="isGameRunning">
					<div class="card extra">
						<div class="card-body align-conten-md-center">
							<h1>{{ game.blue.score }}</h1>
						</div>
					</div>
				</div>
				<div v-else class="row justify-content-md-center">
					<div class="card col-md-2">
						VS
					</div>
				</div>
				<div v-if="isGameRunning" class="row justify-content-lg-center">
					<div class="col-md-auto orbitron-timer" >
						{{ timeElapsed }}
					</div>
				</div>						
			</div>
			<div class="col-md-3">
				<div v-if="settings.is1v1" class="row">
					<div class="card text-primary">
						<div v-if="isGameRunning" class="card-body" @click="increment('front', 'blue')">
							<h3>{{ playerById(game.blue.front) }}</h3>
						</div>
						<div v-else class="card-body">
							<label for="blueFront">Blue</label>
							<select class="form-control" id="blueFront" v-model="game.blue.front">
								<option v-for="player in _.filter([game.blue.front, ...suitablePlayers])" :key="player" :value="player">
									{{ playerById(player) }}
								</option>
							</select>
						</div>
					</div>
				</div>
				<div v-else class="row">
					<div class="card text-primary">
						<div v-if="isGameRunning" class="card-body" @click="increment('front', 'blue')">
							<h3>{{ playerById(game.blue.front) }}</h3>
						</div>
						<div v-else class="card-body">
							<label for="blueFront">Front</label>
							<select class="form-control" id="blueFront" v-model="game.blue.front">
								<option v-for="player in _.filter([game.blue.front, ...suitablePlayers])" :key="player" :value="player">
									{{ playerById(player) }}
								</option>
							</select>
						</div>
					</div>
					<div @click="switchSides('blue')" v-if="isGameRunning">
						<icon-selector :selector="'position'" :size="32"></icon-selector>
					</div>
					<div class="card text-primary">
						<div v-if="isGameRunning" class="card-body" @click="increment('back', 'blue')">
							<h3>{{ playerById(game.blue.back) }}</h3>
						</div>
						<div v-else class="card-body">
							<label for="blueBack">Back</label>
							<select class="form-control" id="blueBack" v-model="game.blue.back">
								<option v-for="player in _.filter([game.blue.back, ...suitablePlayers])" :key="player" :value="player">
									{{ playerById(player) }}
								</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-md-between">
			<div class="col-md-2">
				<div v-if="isGameRunning" class="card">
					<button class="btn btn-link col" data-bs-toggle="modal" data-bs-target="#pauseModal" title="add"
						@click="toggleStatus('pause')">
						<icon-selector :selector="'pause'"></icon-selector>
					</button>
				</div>
			</div>
			<div class="col-md-10">
				<div class="card">
					<div class="row justify-content-end">
						<button v-if="!isGameRunning" class="btn btn-secondary col" data-bs-toggle="offcanvas"
							data-bs-target="#configurationBackdrop" aria-controls="configurationBackdrop">Settings</button>
						<button class="btn btn-secondary col" data-bs-toggle="offcanvas" data-bs-target="#playersStatsBackdrop"
							aria-controls="playersStatsBackdrop">Players</button>
						<button class="btn btn-secondary col" data-bs-toggle="offcanvas" data-bs-target="#gamesStatsBackdrop"
							aria-controls="gamesStatsBackdrop">Games</button>
						<button class="btn btn-primary col" data-bs-toggle="offcanvas" data-bs-target="#newPlayerBackdrop"
							aria-controls="newPlayerBackdrop">
							New player
						</button>
						<button v-if="!isGameRunning" v-show="!isReady" class="btn btn-success col" @click="startGame">Start New
							Game</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/relativeTime.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/dayjs/plugin/duration.js"></script>	
	<script type="module">
		import { UUID } from "https://unpkg.com/uuidjs@^5";
		dayjs.extend(window.dayjs_plugin_relativeTime)
		dayjs.extend(dayjs_plugin_duration);
		const defaultGame = {
			red: {
				score: 0,
				front: '',
				back: '',
			},
			blue: {
				score: 0,
				front: '',
				back: '',
			},
			timeElapsed: '',
			pauseDuration: 0,
			meta: [],
		}
		const defaultSelected = {
			type: null,
			id: '',
			data: [],
		}
		Vue.component('icon-selector', {
			props: ['selector', 'size', 'color'],
			methods: {
				getIcon(selector, size, color = 'currentColor') {
					switch (selector) {
						case 'position': {
							return `
								<svg xmlns="http://www.w3.org/2000/svg" width="${size}" height="${size}" fill="${color}" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5" />
								</svg>
							`;
						}
						case 'play': {
							return `
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
									<path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
								</svg>
							`
						}
						case 'pause': {
							return `
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pause-fill" viewBox="0 0 16 16">
									<path d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5m5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5"/>
								</svg>
							`
						}
						case 'edit': {
							return `
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
									<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
								</svg>
							`
						}
						case 'plus': {
							return `
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
									<path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0" />
								</svg>
							`
						}
						default:
						case 'side': {
							return `
								<svg xmlns="http://www.w3.org/2000/svg" width="${size}" height="${size}" fill="${color}" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5" />
								</svg>
							`
						}
					}
				}
			},
			template: `<div v-html="getIcon(selector, size, color)"></div>`
		});
		new Vue({
			el: '#app',
			data() {
				return {
					game: {
						red: {
							score: 0,
							front: '',
							back: '',
						},
						blue: {
							score: 0,
							front: '',
							back: '',
						},
						timeElapsed: '00:00:00',
						pauseDuration: 0,					
						meta: []
					},
					games: [],
					newNickname: '',
					nicknames: [],
					selected: {
						type: null,
						id: '',
						data: [],
					},
					updateId: undefined,
					settings: {
						maxScore: 5,
						tieBreak: false,
						tieBreakSpan: 2,
						is1v1: false,
						isPlaying: false,
						isRunning: false,
					}
,				}
			},
			methods: {
				playerById(uid) {
					return _.find(this.nicknames, { uid })?.name
				},
				addNewNickname({ target: { value } }) {
					this.newNickname = value
				},
				addNickname() {
					if (!_.isEmpty(_.slice(this.newNickname).filter(r => !_.isEqual(r, ' ')).join('')) && !_.find(this.nicknames, { name: this.newNickname })) {
						this.nicknames.push({ name: this.newNickname, uid: UUID.generate() })
						this.newNickname = ''
					} else {
						alert('Nickname already exists or input is empty.')
					}
				},
				updatePlayer(id) {
					this.updateId = id
				},
				updateName({ target: { value } }) {
					this.updateId.name = value
				},
				updatePlayerName(e) {
					if (_.isEmpty(_.slice(this.updateId.name).filter(r => !_.isEqual(r, ' ')).join('')) || _.find(this.nicknames, ({ name, uid }) => _.isEqual(name, this.updateId.name) && !_.isEqual(uid, this.updateId.uid))) {
						e.preventDefault()
						alert('Nickname already exists or input is empty.')
						return
					}
					this.nicknames = _.map(this.nicknames, nick => _.isEqual(nick.uid, this.updateId.uid) ? this.updateId : nick)
					this.updateId = undefined
				},
				startGame() {
					this.settings.isPlaying = true
					this.settings.isRunning = true
					this.game.timeElapsed = '00:00:00'
					this.game.meta.push({ timestamp: Date.now(), uid: UUID.generate(), is1v1: this.settings.is1v1 })
				},
				resetGame() {
					this.games.push(this.game)
					console.log(defaultGame.red.score)
					this.game = defaultGame
					this.settings.isRunning = false
					this.settings.isPlaying = false
				},
				toggleStatus(changed) {
					this.settings.isPlaying = _.isEqual(changed, 'play')
					this.game.meta.push({
						changed,
						timestamp: Date.now(),
					})
				},
				increment(position, side) {
					this.game[side].score++
					this.game.meta.push({
						position,
						side,
						timestamp: Date.now(),
						player: this.game[side][position],
						isOwn: false
					})
					if (_.isEqual(this.game[side].score, Number(this.settings.maxScore))) {
						this.resetGame()
					}
				},
				switchSides(side) {
					if (side) {
						const { front } = this.game[side]
						this.game[side].front = this.game[side].back
						this.game[side].back = front
						this.game.meta.push({ changed: 'position', side, timestamp: Date.now() })
					} else {
						const { red } = this.game
						this.game.red = this.game.blue
						this.game.blue = red
						this.game.meta.push({ changed: 'side', timestamp: Date.now() })
					}
				},
				toggelSelected(selected = defaultSelected) {
					const localSelected = {
						...selected,
					}
					if (selected.type) {
						const player = selected.id
						if (_.isEqual(selected.type, 'game')) {
							_.assignIn(localSelected, { data: _.find(this.games, ({ meta }) => _.isEqual(meta[0].uid, player)) })
						}
						else {
							_.assignIn(localSelected, {
								data:
									_.filter(this.games, ({ red, blue }) => {
										const isRedFront = _.isEqual(red.front, player)
										const isRedBack = _.isEqual(red.back, player)
										const isBlueFront = _.isEqual(blue.front, player)
										const isBlueBack = _.isEqual(blue.back, player)
										return _.some([isRedFront, isRedBack, isBlueFront, isBlueBack])
									})
							})
						}
					}
					this.selected = localSelected
					this.updateId = undefined
				},
				goalCounter(player) {
					return _.reduce(_.map(this.games, (game, gameIndex) =>
						_.filter(game.meta, meta => _.isEqual(player, meta.player)).length
					), ((t, c) => (t + c)))
				},
				getMetaCount: (game, meta) => _.get(_.groupBy(_.get(_.groupBy(_.filter(game.meta, 'changed'), 'changed'), meta.changed), 'side'), meta.side)?.length || 0,
				incrementScore({ target: { value } }) {
					this.settings.maxScore = value
				},
				toggletieBreak() {
					this.settings.tieBreak = !this.settings.tieBreak
				},
				incrementtieBreakSpan({ target: { value } }) {
					this.settings.tieBreakSpan = value
				},
				toggleSimplePlayer() {
					this.settings.is1v1 = !this.settings.is1v1
				},
				updateTimer() {
					setInterval(() => {
							if (this.settings.isRunning && this.game.meta.length > 0 && this.game.meta[0].timestamp) {
							const startTime = dayjs(this.game.meta[0].timestamp)
							const now = dayjs();
							const elapsedSeconds = now.diff(startTime, 'seconds') - this.game.pauseDuration;
							if (this.settings.isPlaying) {
								this.game.timeElapsed = dayjs.duration(elapsedSeconds, 'seconds').format('HH:mm:ss');
							}
							else {
								this.game.pauseDuration++;
							}
						}
					}, 1000);
				},			
			},
			computed: {
				defaultChanges: {
					get() {
						return [
							{
								changed: 'position',
								side: 'red'
							},
							{
								changed: 'position',
								side: 'blue'
							},
							{
								changed: 'side'
							},
							{
								changed: 'pause'
							}
						]
					}
				},
				playersCount: {
					get() {
						return _.uniq(
							_.filter([
								this.game.red.front,
								this.game.red.back,
								this.game.blue.front,
								this.game.blue.back
							])
						)
					}
				},
				isReady: {
					get() {
						return !_.isEqual(this.playersCount.length, this.settings.is1v1 ? 2 : 4)
					}
				},
				suitablePlayers: {
					get() {
						return _.map((_.filter(this.nicknames, ({ uid }) => !_.includes(this.playersCount, uid))), 'uid')
					}
				},
				isGameRunning: {
					get() {
						return this.settings.isRunning
					}
				},
				timeElapsed: {
					get() {
						return this.game.timeElapsed
					}
				},
			},
			mounted() {
				 const gameState = localStorage.getItem('gameState');
				 if (gameState) {
				 	this.game = JSON.parse(gameState)
				 }
				 const gamesState = localStorage.getItem('gamesState');
				 if (gamesState) {
				 	this.games = JSON.parse(gamesState)
				}
				const nicknamesState = localStorage.getItem('nicknamesState');
				if (nicknamesState) {
					this.nicknames = JSON.parse(nicknamesState)
				}
				const settingsState = localStorage.getItem('settingsState');
				if (settingsState) {
					this.settings = JSON.parse(settingsState)
				}
				this.updateTimer()
			},
			watch: {
				game: {
					handler() {
						localStorage.setItem('gameState', JSON.stringify(this.$data.game))
					},
					deep: true
				},
				games: {
					handler() {
						localStorage.setItem('gamesState', JSON.stringify(this.$data.games))
					},
					deep: true
				},
				nicknames: {
					handler() {
						localStorage.setItem('nicknamesState', JSON.stringify(this.$data.nicknames))
					},
					deep: true
				},
				settings: {
					handler() {
						localStorage.setItem('settingsState', JSON.stringify(this.$data.settings))
					},
					deep: true
				},
			}
		})
	</script>
</body>

</html>